@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:600,100);
html,
body,
ul,
li,
section,
p,
h1,
h2,
h3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2C3133;
    text-align: center;
    -webkit-font-smoothing: antialiased !important;
    /*	-webkit-text-stroke: 0.2pt !important;*/
}
section{
    height: 810px;
}
a:link,
a:visited,
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer
}

a:hover {
    color: RGB(79, 224, 220);
}

nav.top {
    height: 32px;
}

nav.top a {
    width: 60px;
    height: 32px;
    display: block;
}

nav.top h1 {
    text-indent: -9999px;
}

h1 {
    font-size: 1.2em;
    position: relative;
    height: auto;
    color: #ffffff;
    text-align: center;
    font-weight: 200;
}

.sub {
    margin-top: 1%;
}

.eng {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.soon {
    font-size: 12px;
    color: RGB(255, 80, 101);
    font-weight: 600;
}

span {
    font-weight: 100;
}

h2 {
    font-size: 2.5em;
    font-weight: 600;
}

h3 {
    /*    display: inline;*/
    font-size: 1.1em;
    font-weight: 500px;
}

h4 {
    background-color: #2C3133;
    width: 30px;
    height: 4px;
    margin: 2% auto;
}

.left h4 {
    text-align: left;
    margin: 2% 0;
}

p {
    font-weight: 300;
    font-size: 1em;
    margin: 32px auto 0;
    line-height: 1.5em;
}

.btn {
    margin: auto;
    border-radius: 22px;
    width: 190px;
    height: 45px;
    text-align: center;
}

.text {
    position: relative;
    top: 10%;
}

.bold {
    font-weight: 500;
    font-size: 110%;
    color: #F9F857;
}

.left p,
.left h2 {
    text-align: left;
}

.left {
    display: block;
    position: relative;
    left: 48%;
    top: 30%;
}

.gray {
    background-color: #FAFAFA;
}


/*------------End common------------*/

header {
    width: 100%;
    height: 60px;
    z-index: 10;
    position: fixed;
    padding: 25px 2% 0 0;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in-out;
}

.bgcolor {
    background-color: RGB(79, 224, 220);
    padding: 15px 2% 0 0;
    height: 40px;
}

nav {
    max-width: 1366px;
    margin: auto;
    overflow: hidden;
    background: url(img/icon.png) left no-repeat;
    background-size: contain;
}

nav ul {
    /*    width: 60%;*/
    position: relative;
    text-align: right;
}

nav li {
    position: relative;
    display: inline;
    padding: 0 20px;
    margin: 0 10px;
    color: #ffffff;
}

nav li:hover {
    background-color: #fff;
    color: RGB(79, 224, 220);
    border-radius: 22px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in-out;
}


/*=======================*/

.logo-img {
    background: url(img/logo-center.png) center no-repeat;
    background-size: contain;
    width: 342px;
    height: 80px;
}

.line {
    width: 342px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 1% auto;
}

.main {
    /*    position: static;*/
    background: url(img/bg_main_02.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: #ffffff;
}

.main .text {
    position: inherit;
    top: 29%;
}

.main .btn {
    text-align: center;
    background: url(img/ic_play.png) left no-repeat;
    background-color: #4FE0DC;
    position: inherit;
    top: 40%;
    padding: 13px 0 0 14px;
    height: 32PX;
    width: 176px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.main .btn:hover {
    color: #fff;
    background-color: #45cdc9;
}

.youtube:hover {
    color: #fff;
}

.main ul {
    position: absolute;
    bottom: 4%;
    height: auto;
}

.main ul li {
    /*
    position: relative;
    top: 54%;
*/
    width: 138px;
    height: 46px;
}

.main li {
    display: inline;
    margin: 10px;
}

.main .wrap {
    max-height: 729px;
    margin: auto;
}

.go-link {
    position: absolute;
    font-weight: 700;
    height: auto;
    bottom: 20%;
}

.wrap {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/*===========About Us=============*/

#company {
    height: 1020px;
}

.row {
    width: 84%;
    position: relative;
    top: 15%;
    float: right;
    ;
    margin-top: 3%;
    padding: 0 8%;
}

.row p,
.row h3 {
    text-align: left;
}

.row h3 {
    width: 60%;
    padding-left: 30%;
    margin: auto;
}

.row p {
    font-size: 0.92em;
    line-height: 1.5em;
    margin-top: 0.5%;
    width: 60%;
    padding-left: 30%;
}

.graphic-1,
.graphic-2,
.graphic-3 {
    width: 264px;
    height: 144px;
    float: left;
    margin: auto;
    /* padding: 1%;*/
    position: relative;
    text-align: left;
    padding: 1% 0;
}

.graphic-1 {
    background: url(img/logo_theventures.png) center no-repeat;
    background-size: auto;
}

.graphic-2 {
    background: url(img/img_it.png) center no-repeat;
    background-size: auto;
}

.graphic-3 {
    background: url(img/img_company_3.png) center no-repeat;
    background-size: auto;
}


/*-----------Feature---------*/

#feature {
    height: 250px;
    background-color: #4FE0DC;
    background: url(img/bg_feature.png) center no-repeat fixed;
    background-size: cover;
}

#feature h1 {
    font-size: 2em;
    position: relative;
    top: 25%;
    font-weight: 700;
}

#feature p {
    height: auto;
    position: relative;
    top: 14%;
    color: #fff;
    font-weight: 500;
}


/*-----------Reservation----------*/

#reservation {
    z-index: 5;
}

#reservation .wrap {
    position: relative;
    height: 120%;
    background: url(img/img_resrvation.png) top center no-repeat;
    background-size: 70%;
}


/*-----------section 2----------*/

#main {
    height: 810px;
}

#main .wrap {
    height: 100%;
    background: url(img/img_app_main_list.png) left no-repeat;
    background-size: 80%;
}

#main .text {
    width: 50%;
}


/*------Customer Info-----*/

#custormer_info {
    height: 810px;
}

#custormer_info .wrap {
    height: 100%;
    background: url(img/img_app_info_customer.png) right center no-repeat;
    background-size: 80%;
    /*        background-attachment: fixed;*/
}

#custormer_info .text {
    left: 4%;
    width: 80%;
}


/*----------service info--------*/

#service {
    height:670px;
}

#service .text {
    top: 15%;
}

.service {
    position: relative;
    top: 25%;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.col {
    width: 33%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    height: 230px;
}

h3 {
    position: relative;
    top: 10%;
    margin: 0;
}

.col p {
    position: relative;
    /*    display: inline;*/
    top: -75%;
    margin: 0;
    height: auto;
}

.facebook-ad,
.review,
.no-shop {
    display: block;
    max-width: 200px;
    width: 100%;
    height: 100px;
    position: relative;
    background-size: 100%;
    margin: 0 auto;
}

.facebook-ad {
    background: url(img/img_facebook.png) top center no-repeat;
}

.review {
    background: url(img/img_review.png) top center no-repeat;
}

.no-shop {
    background: url(img/img_shop.png) top center no-repeat;
}


/*-----------Join Us------------*/

.join_us {
    height: 409px;
    background: url(img/bg_join_us_2.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.join_us h2,
.join_us p {
    color: #ffffff;
}

.join_us .text {
    position: relative;
    top: 25%;
}

.join_us .btn {
    position: relative;
    top: 35%;
    background-color: rgb(255, 255, 255);
    padding: 8px 0 0 0;
    height: 37px;
    font-weight: bold;
    font-size: 18px;
    color: #4FE0DC;
}

.join_us .btn a {
    color: #4FE0DC;
}

.join_us .btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: aliceblue;
}


/*-----------Footer---------------*/

footer {
    height: 140px;
    background-color: #25363C;
    text-align: center;
}

footer ul li {
    display: inline;
    position: relative;
    top: 24%;
    margin: 0 20px;
}

footer p {
    margin: auto;
    height: auto;
    position: relative;
    top: -40%;
    text-align: center;
    color: #505E63;
    font-size: 12px;
}

.eng-con {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.53em;
    font-size: 1.4em;
}

@media all and (max-width: 1920px) {}
    .main .wrap{
        max-height: 1080px;
    }
}