section#download(data-theme='black')

  div.copy
    h2.landscape
      | <b>지금, 다운로드하세요</b>
    h2.portrait
      | <b>지금,</b>
      br
      | <b>다운로드하세요</b>

  div.links
    a(href='https://www.facebook.com/heybeautykr/') facebook
    a(href='https://www.instagram.com/heybeauty.me/') instagram

  div.download
    include ./template/download.jade