section#location(data-theme='black')

  figure.path
    svg#path(width='154px', height='185px')
      path(d='M 7.5 174.5 L 146.1 120 L 106.5 23.4 L 134.2 13.2 L 131.5 6', stroke='#F8D770', stroke-width='12', stroke-linejoin='round', stroke-linecap='round', fill='none')

  div.map
    span.me
      span.flicker
      span.dot
    span.pin

  div.demo
    div.draw#lineOnLocation
    div.frame
      img(src='/img/user/screen/map.jpg')

  div.copy

    h2
      | 처음가는
      br
      | 샵도 <b>헤매지 않고</b>
      br
      | 척척

    p
      | 처음 가는 샵이라고,
      br
      | 길치라 헤맬까 걱정 마세요.
      br
      | 나를 알아서 추적하는 지도 기능으로
      br
      | 처음 가는 샵도 어렵지 않게 찾아갈 수 있습니다.

  div.download
    include ./template/download.jade