section#reserve(data-theme='black')

  div.demo
    div.line.white
      span.blur
        span.source
      span.img
        img(src='/img/user/screen/calling.png')
    div.frame
      span.container
        img(src='/img/user/screen/timeslot.jpg')
        img(src='/img/user/screen/reserve_done.jpg')
        img(src='/img/user/screen/reserve_confirm.jpg')

  div.copy

    h2
      | 전화통화?
      br
      | <b>터치 두번</b>이면
      br
      | 예약완료

    p
      | 전화를 걸지 않고 되는 시간만
      br
      | 선택할 수 있습니다.
      br
      | 사무실에서, 버스에서, 도서관에서
      br
      | 자리를 뜨지 않고 예약이 가능합니다.

  div.download
    include ./template/download.jade