section#service(data-theme='black')

  div.demo
    div.line.grey
      svg#menu(width='226px', height='403px')
        path(d='M140.6,29.9 L140.6,41.5 C140.6,45 141.9,46.7 144.3,46.7 C146.7,46.7 148,45 148,41.5 L148,29.9 L152.6,29.9 L152.6,41.2 C152.6,47.4 149.5,50.4 144.2,50.4 C139.1,50.4 136.1,47.6 136.1,41.1 L136.1,29.9 L140.6,29.9 L140.6,29.9 Z M115.3,50.1 L115.3,29.9 L120.6,29.9 L124.8,37.3 C126,39.4 127.2,41.9 128.1,44.2 L128.2,44.2 C127.9,41.5 127.8,38.8 127.8,35.8 L127.8,29.9 L132,29.9 L132,50.1 L127.2,50.1 L122.9,42.3 C121.7,40.1 120.4,37.5 119.4,35.2 L119.3,35.2 C119.4,37.9 119.5,40.7 119.5,44 L119.5,50.1 L115.3,50.1 L115.3,50.1 Z M111.3,41.5 L103.9,41.5 L103.9,46.3 L112.2,46.3 L112.2,50.1 L99.3,50.1 L99.3,29.9 L111.8,29.9 L111.8,33.6 L103.9,33.6 L103.9,37.8 L111.3,37.8 L111.3,41.5 L111.3,41.5 Z M91,42.4 C90.9,40 90.8,37 90.8,34.1 L90.7,34.1 C90.1,36.7 89.2,39.6 88.5,41.9 L86,49.8 L82.4,49.8 L80.2,42 C79.5,39.6 78.8,36.8 78.4,34.1 L78.3,34.1 C78.2,36.8 78.1,40 77.9,42.5 L77.5,50.2 L73.3,50.2 L74.6,30 L80.7,30 L82.7,36.7 C83.3,39 84,41.6 84.4,43.9 L84.5,43.9 C85.1,41.6 85.8,38.9 86.4,36.6 L88.6,29.9 L94.6,29.9 L95.7,50.1 L91.2,50.1 L91,42.4 L91,42.4 Z' fill='#2C3133')
        rect(fill='#2C3133' x='74' y='57' width='78' height='2')
      
        path(d='M 73 101.5 L 154 101.5', stroke='#6AE2E0', stroke-width='13', stroke-linecap='round', fill='none')
        path(d='M 80.5 118 L 146.5 118', stroke='#BEC1C2', stroke-width='7', stroke-linecap='round', fill='none')
        path(d='M 80.5 131 L 146.5 131', stroke='#BEC1C2', stroke-width='7', stroke-linecap='round', fill='none')
        path(d='M 100 150 L 140 150', stroke='#F76373', stroke-width='9.3', stroke-linecap='round', fill='none')
        path(d='M15.9,5.4 L15.9,7.3 L14,7.3 L12.5,14.8 L10,14.8 L8.6,7.3 L7.5,7.3 L6.1,14.8 L3.6,14.8 L2.1,7.3 L0.3,7.3 L0.3,5.4 L1.7,5.4 L0.8,0.7 L2.8,0.7 L3.7,5.4 L6,5.4 L6.9,0.7 L9.3,0.7 L10.2,5.4 L12.4,5.4 L13.2,0.7 L15.3,0.7 L14.4,5.4 L15.9,5.4 L15.9,5.4 Z M5.6,7.3 L4,7.3 L4.8,11.2 L5.6,7.3 L5.6,7.3 Z M8.3,5.4 L7.9,3.8 L7.6,5.4 L8.3,5.4 L8.3,5.4 Z M12.1,7.3 L10.5,7.3 L11.3,11.2 L12.1,7.3 L12.1,7.3 Z', transform='translate(75, 143.5)', stroke='#F76373', stroke-width='0.3', fill='#F76373')

        path(d='M 73 194 L 154 194', stroke='#6AE2E0', stroke-width='13', stroke-linecap='round', fill='none')
        path(d='M 80.5 210.5 L 146.5 210.5', stroke='#BEC1C2', stroke-width='7', stroke-linecap='round', fill='none')
        path(d='M 80.5 223.5 L 146.5 223.5', stroke='#BEC1C2', stroke-width='7', stroke-linecap='round', fill='none')
        path(d='M 100 243 L 140 243', stroke='#F76373', stroke-width='9.3', stroke-linecap='round', fill='none')
        path(d='M15.9,5.4 L15.9,7.3 L14,7.3 L12.5,14.8 L10,14.8 L8.6,7.3 L7.5,7.3 L6.1,14.8 L3.6,14.8 L2.1,7.3 L0.3,7.3 L0.3,5.4 L1.7,5.4 L0.8,0.7 L2.8,0.7 L3.7,5.4 L6,5.4 L6.9,0.7 L9.3,0.7 L10.2,5.4 L12.4,5.4 L13.2,0.7 L15.3,0.7 L14.4,5.4 L15.9,5.4 L15.9,5.4 Z M5.6,7.3 L4,7.3 L4.8,11.2 L5.6,7.3 L5.6,7.3 Z M8.3,5.4 L7.9,3.8 L7.6,5.4 L8.3,5.4 L8.3,5.4 Z M12.1,7.3 L10.5,7.3 L11.3,11.2 L12.1,7.3 L12.1,7.3 Z', transform='translate(75, 237)', stroke='#F76373', stroke-width='0.3', fill='#F76373')

        path(d='M 73 288 L 154 288', stroke='#6AE2E0', stroke-width='13', stroke-linecap='round', fill='none')
        path(d='M 80.5 304.5 L 146.5 304.5', stroke='#BEC1C2', stroke-width='7', stroke-linecap='round', fill='none')
        path(d='M 80.5 317.5 L 146.5 317.5', stroke='#BEC1C2', stroke-width='7', stroke-linecap='round', fill='none')
        path(d='M 100 337 L 140 337', stroke='#F76373', stroke-width='9.3', stroke-linecap='round', fill='none')
        path(d='M15.9,5.4 L15.9,7.3 L14,7.3 L12.5,14.8 L10,14.8 L8.6,7.3 L7.5,7.3 L6.1,14.8 L3.6,14.8 L2.1,7.3 L0.3,7.3 L0.3,5.4 L1.7,5.4 L0.8,0.7 L2.8,0.7 L3.7,5.4 L6,5.4 L6.9,0.7 L9.3,0.7 L10.2,5.4 L12.4,5.4 L13.2,0.7 L15.3,0.7 L14.4,5.4 L15.9,5.4 L15.9,5.4 Z M5.6,7.3 L4,7.3 L4.8,11.2 L5.6,7.3 L5.6,7.3 Z M8.3,5.4 L7.9,3.8 L7.6,5.4 L8.3,5.4 L8.3,5.4 Z M12.1,7.3 L10.5,7.3 L11.3,11.2 L12.1,7.3 L12.1,7.3 Z', transform='translate(75, 331)', stroke='#F76373', stroke-width='0.3', fill='#F76373')

    div.frame
      img(src='/img/user/screen/service_list.jpg')

  div.copy

    h2
      | 서비스도
      br
      | <b>가격</b>도
      br
      | 확인하고 예약

    p
      | 샵별로 시술하는 서비스와 가격을 미리
      br
      | 알아보고 고를 수 있습니다.
      br
      | 바가지는 이제 안녕.
      br
      | 섣불리 가격 물어보기 전화는 이제 끝.

  div.download
    include ./template/download.jade