section#time(data-theme='black')

  div.map
    div.location
      span.flicker
      span.dot
    div.pins
      span
      span
      span
      span

  div.demo
    div.draw#lineOnTime
    div.frame
      img(src='/img/user/screen/main.jpg')

  div.copy

    h2
      | <b>내 주변</b>에서
      br
      | 원하는 <b>시간</b>에
      br
      | 예약하세요

    p
      | 내 주변 샵들의 시술을 받을 수 있는
      br
      | 시간을 한번에 알 수 있습니다.
      br
      | 이 샵 저샵 전화해서
      br
      | 가능 여부 불어보는 것은 이제 안녕.

  div.download
    include ./template/download.jade