@require 'requires'

header
  padding-bottom 0
  height 26.7rem
  hgroup
    .wrap
      height auto
      display block
      position-align-both()
      bottom inherit !important
      top 55%
      &.is_event
        top 52%
    h1, h2, .tags
      line-height 3rem
    h1
      font-size 2.6rem
      font-weight bold
    h2
      font-size 1.8rem
      position-align-center()
      top -3rem
    .tags
      font-size 1.6rem
      li:not(:last-child)
        margin-right .6rem
  .event
    padding 0
    width 100%
    height auto
    line-height 1
    background none
    text-align center
    font-size 1.4rem
    display block
    position absolute
    bottom 5rem
    left 0
    dt
      margin 0
      margin-right .8rem
      padding 0 .4rem
      font-size 1rem
    dd
      overflow visible
      &::after
        content none
      a
        cursor pointer
  .cover
    display none
    .wrap
      line-height 5rem
      font-size 1.8rem
      font-weight bold
      text-align left
      position-align-center()
      bottom 0

header + nav ul
  margin auto
  padding-left 3.6rem !important
  width 94rem
  height 4.8rem
  line-height @height
  box-sizing border-box
  position relative
  display block
  &::before
    content ''
    width @padding-left
    height @height
    background url(/img/app/symbol.svg) no-repeat
    background-size 2.5rem 2.3rem
    background-position center
    display block
    position absolute
    left 0
    top 0
  li
    padding 0 2.5rem
    a span
      height @height