@require 'requires'

html
  height 100%

body
  min-height 100%
  font-size 1.5rem
  box-sizing border-box

.download
  width 100%
  height 5.7rem
  background darkgray
  position relative
  display block
  &::before, &::after
    content ''
    width 50%
    height 100%
    vertical-align top
    z-index 0
    position absolute
    top 0
  &::before
    background hb-cyan
    left 0
  &::after
    background hb-magenta
    right 0
  .wrap
    height 100%
    z-index 1
    font-size 0
    display flex
    position-align-center()
    top 0
  .message
    width 50rem
    height 100%
    display inline-block
    position relative
    order 2
    &::before
      content ''
      width 100%
      height 100%
      background #3D3B3D
      transform skew(-28deg)
      display block
    &::after
      content ''
      width 37.2rem
      height 1.8rem
      background-image url(/img/app/download-message.png)
      background-repeat no-repeat
      background-position center
      background-size @width @height
      position-align-both()
      display block
  a
    display inline-block
    flex 1 0 auto
    &.googleplay
      background url(/img/app/badge-googleplay.png) no-repeat
      background-position center right 2.5rem
      background-size 117px 30px
      order 1
    &.appstore
      background url(/img/app/badge-appstore.png) no-repeat
      background-position center left 2.5rem
      background-size 110px 29px
      order 3

section, .wrap
  margin auto
  width 94rem

section
  padding 2rem 0 5rem

footer
  margin 0 !important
  width 100%
  height 5.5rem
  line-height @height
  font-family Helvetica
  font-size 1.4rem
  .bar
    display inline
    margin 1rem
  a
    margin 0
    width auto
    height auto
    background none !important
    font-size 1.2rem
    color text-grey
    cursor pointer

#banner
  display none

.error::after
  font-size 1.8rem !important