@require 'requires'

header-height = 9rem
list-width = 27.7rem
service-height = 9.5rem

section#popup

  &.portfolio
    display block
    .header
      height header-height
      border-bottom 1px solid box-border
      a
        padding 1.8rem 1.6rem
        padding-right 7rem
        &[href]:hover
          background rgba(black, .03)
      .title
        font-size 2.2rem
        line-height 3.8rem
      .info
        font-size 1.4rem

    .image
      width auto
      height auto
      background-color transparent
      position absolute
      left 10rem
      top header-height + @left
      bottom service-height + @left
      right list-width + @left

    .list
      padding 5.4rem 0 0
      width list-width
      height auto
      border-left 1px solid box-border
      position absolute
      top header-height
      bottom 0
      right 0
      h4
        font-size 1.5rem
        text-indent 2.8rem
        position absolute
        top 2.2rem
      ul
        margin 0
        padding 0 2.8rem
        width 100%
        height 100%
        box-sizing border-box
        overflow scroll
        overflow-x hidden
        li
          margin-bottom 1rem
          width 22rem
          height 17.8rem
          display block
          &:last-child
            margin-bottom 2.2rem
          &.router-link-active a
            border-width .4rem

    .service
      width auto
      height service-height
      border-top 1px solid box-border
      position absolute
      right list-width
      left 0
      bottom 0
      a
        padding 0
        &[href]:hover
          background rgba(black, .03)
      h4, .name, .duration
        margin-top 0
        line-height @height
        display inline-block
        vertical-align middle
      h4
        margin 0 2rem
        width 7.9rem
        height 2.7rem
        line-height @height
        font-size 1.4rem
      .name
        font-size 2.2rem
      .duration
        margin-left 1rem
        font-size 1.4rem
      .original_price
        font-size 1.5rem
        bottom 5.2rem
        right 1.6rem
      .price
        font-size 2.4rem
        bottom 2.4rem
        right 1.5rem
        &.normal
          line-height @height
          bottom 0
      .empty
        height @height
        line-height @height
        font-size 1.4rem

  &.service
    background none
    .wrap
      padding 3rem 2rem
      width 74rem
      border-radius 2px
      border 1px solid rgba(box-border, .8)
      box-shadow 0 .4rem 3.4rem rgba(black, .13)

    h3
      font-size 2.4rem
      line-height 4rem
      color text-dark-grey

    dl
      margin 3rem 0
      color text-dark-grey
      dt, dd
        font-size 1.5rem
        line-height 3rem
      dt
        width 15%
      dd
        width 85%
      .sale
        &::after
          margin-left .5rem
          width 3.3rem
          height 1.5rem
          line-height @height
          font-size 1rem

    hr
      margin 2.6rem 0
      border-top 1px solid single-line

    ul.slider
      div
        width 72rem
      & + nav
        button.active
          background none !important

  button.close
    width 3.2rem
    right 2rem
    top 2.6rem
    cursor pointer
    &::before, &::after
      height 2.65rem