@require 'requires'

header-min-height = 5rem

.scrolled
  margin-top 4.6rem
  padding-top 26.7rem

  header, header + nav
    transition-duration .35s

  header
    transform translateY(header-min-height)
    top -26.7rem

    .cover
      display block
      opacity 1

    & + nav
      transform translateY(header-min-height)
      position fixed
      top 0
      z-index 10