@charset "utf-8";

@import 'common/reset'
@import 'common/functions'

landscape-left-translate = -570px
landscape-right-translate = 210px
landscape-heading2-font-size = 40px
landscape-heading2-line-height = 1.2em
landscape-body-font-size = 18px
landscape-body-line-height = 1.5em

portrait-top-position = 27.5%
portrait-left-padding = 2.2rem
portrait-heading2-font-size = 3rem
portrait-heading2-line-height = 1.3em
portrait-body-font-size = 1.3rem
portrait-body-line-height = 1.6em

@media (max-aspect-ratio: 1/1)
  html
    font-size 10px
    font-size 3.125vw

@import 'user/*'
