p(hidden) 앱 다운로드
ul
  li: a(href='http://heybeauty.me/app/?token=117863359&source=landing_user&medium=ios_client&campaign=2016_user_landing') App Store
  li: a(href='http://heybeauty.me/app/?token=117863359&source=landing_user&medium=android_client&campaign=2016_user_landing') Google play