section#popup.portfolio(v-popup='')
  div.header: a(:href='portfolio.url', target='_blank')
    p.title {{portfolio.title || portfolio.contents}}
    p.info(v-if='portfolio.site_name || portfolio.url') {{portfolio.site_name}} | {{portfolio.url}}

  div.image(:style="{'background-image': url(portfolio.image_url)}")

  div.list
    h4 포트폴리오
    ul(v-init-scroll='{ index }'): router-link(v-for='p in portfolios', :to="{name: 'popup.portfolio', params: {portfolio_id: p.id}}", replace, tag='li')
      a(:style="{'background-image': url(p.image_url)}")

  div.service(v-if='service'): router-link(:to="{name: 'popup.service', params: {service_id: service.id}, query: {from: 'portfolio'}}")
    h4 관련서비스
    span.name {{service.service_name}}
    span.duration 소요시간 {{service.duration}}분
    span.original_price(v-show='service.is_event') {{service.original_price | currency}}원
    span.price(:class='{normal: !service.is_event}') {{service.price | currency}}원

  div.service(v-if='!service')
    span.empty 관련 서비스가 아직 등록되지 않았습니다.

  button.close(@click='close()') 닫기