section#popup.service(v-popup='', @click='close()')
  div.wrap(@click.stop='')
    h3 {{service.service_name}}

    dl
      dt 서비스 가격
      dd {{service.original_price| currency}}원

      dt(v-if='service.is_event') 할인 가격
      dd.sale(v-if='service.is_event') {{service.price | currency}}원

      dt 소요 시간
      dd {{service.duration}}분

      dt 서비스 설명
      dd {{service.description}}

    hr(v-if='portfolios.length')

    hb-slider(type='portfolio', :list='portfolios', desc='popup', v-if='portfolios.length')

    button.close(@click='close()') 닫기