section.info.review
  h4(:data-title='"#" + shop_info.name') 블로그 후기
  ul.posts: li(v-for='p in posts')
    a.box(:href='p.url', target='_blank')
      div.img(:style="{'background-image': url(p.thumbnail_url)}")
      p.title {{p.title}}
      p.contents {{p.contents}}
      p.info {{p.published_ts | date}} | {{p.site_name}}

  button.more(@click.once='expand()', v-show='hasMore && collapse') 더보기

  div.empty(v-if='!posts.length')
    | 등록된 후기가 없습니다.