section.info.service
  h4(:data-title='portfolios_count') 포트폴리오
  hb-slider(type='portfolio', :list='portfolios', v-if='portfolios.length')

  div.empty(v-if='!portfolios.length')
    | 등록된 포트폴리오가 없습니다.

  hr

  div#book

  template(v-for='(group, category) in services')
    h4 {{category}}
    ul.services.columns: li(v-for='s in group')
      router-link.box(:class='{event: s.is_event}', :to="{name: 'popup.service', params: {service_id: s.id}}")
        span.name {{s.service_name}}
        span.duration 소요시간 {{s.duration}}분
        span.original_price(v-show='s.is_event') {{s.original_price | currency}}원
        span.price {{s.is_event ? s.price : s.original_price | currency}}원
        span.portfolio_count(v-show='s.portfolio_count') {{s.portfolio_count}}

  div.empty(v-if='empty_service')
    | 등록된 서비스가 없습니다.

  router-view