section.info
  div.group(v-if='portfolios.length')
    h4 포트폴리오
    ul.portfolios.columns: li(v-for='p in portfolios', :style="{'background-image': url(p.image_url)}")
      router-link(:to="{name: 'popup.portfolio', params: {portfolio_id: p.id}, query: {from: 'info'}}")
    button.more(@click='transition("service")') 전체보기
    hr

  div.group(v-if='services.length')
    h4 서비스 북
    ul.services.columns: li(v-for='s in services')
      router-link.box(:class='{event: s.is_event}', :to="{name: 'popup.service', params: {service_id: s.id}, query: {from: 'info'}}")
        span.name {{s.service_name}}
        span.duration 소요시간 {{s.duration}}분
        span.original_price(v-show='s.is_event') {{s.original_price | currency}}원
        span.price {{s.is_event ? s.price : s.original_price | currency}}원
        span.portfolio_count(v-show='s.portfolio_count') {{s.portfolio_count}}
    button.more(@click='transition("service", "#book")') 전체보기
    hr

  div.group
    h4 기본 정보
    dl.info
      dt 영업시간
      dd {{shop_info.business_hours}}
      dt 전화번호
      dd: a(:href='"tel:" + shop_info.phone_num') {{shop_info.phone_num | phone}}
      dt 주소
      dd
        | {{shop_info.address}}
        | {{shop_info.address2}}
      dt 주변 지하철
      dd {{shop_info.subway_station}}
      dt(hidden) 지도
      dd.map: a(:href='map.link', target='_blank')
        img(:src='map.image_url')
    hr

  div.group(v-if='posts.length')
    h4(:data-title='"#" + shop_info.name') 블로그 후기
    ul.posts: li(v-for='p in posts')
      a.box(:href='p.url', target='_blank')
        div.img(:style="{'background-image': url(p.thumbnail_url)}")
        p.title {{p.title}}
        p.contents {{p.contents}}
        p.info {{p.published_ts | date}} | {{p.site_name}}
    button.more(@click='transition("review")') 전체보기
    hr

  div.group(v-if='nearby.length')
    h4(data-title='5 Km 이내') 주변 다른 샵
    hb-slider(type='shop', :list='nearby', desc='nearby')
    hr

  div.group(v-for='(event, index) in events')
    h4.link(:data-title='event.title', @click='open("events", index)') {{event.subtitle || '이벤트'}}
    hb-slider(type='shop', :list='event.shops')
    hr

  div.banners(v-if='banners.length', v-event-banner='{data: banners}')
    ul.images: li(v-for='(banner, index) in banners', :style="{'background-image': url(banner.web_image_url)}")
      a(@click='open("banners", index)')
        p.title {{banner.title}}
        p.subtitle {{banner.subtitle}}
    ul.nav: li(v-for='banner in banners')