div(v-global='' v-header='')
  header
    div.background(:style="{'background-image': url(shop_info.image_url)}")
    hgroup: div.wrap(:class='{is_event: event}')
      h1 {{shop_info.name}}
      h2 {{shop_info.category_name}}
      ul.tags(v-if='shop_info.tags'): li(v-for='tag in shop_info.tags') {{tag}}
    dl.event(v-if='event')
      dt 이벤트
      dd: a(@click='open()') {{event.title}}
    div.cover.hidden: div.wrap {{shop_info.name}}

  nav: ul
    router-link(:to="{name: 'shop.info'}" tag='li' exact=true): a: span 모아보기
    router-link(:to="{name: 'shop.service'}" tag='li'): a: span 서비스 북
    router-link(:to="{name: 'shop.review'}" tag='li'): a: span 블로그 후기

  router-view

  hb-banner(:managed='shop_info.is_managed', :prepay='shop_info.pre_pay')

  footer: div.wrap
    | Heybeauty &copy; 2017
    div.links
      a.facebook(href='http://www.facebook.com/heybeautykr', target='_blank') 공식 페이스북 페이지
      span.bar |
      a.home(href='http://heybeauty.me', target='_blank') 헤이뷰티 홈페이지

  div.error(:class='["e" + error.toString()]', v-if='error')