div
  ul.shops.slider(v-if="type == 'shop'", v-slider='{current: current, toIndex: toIndex, key: $parent.shop_info.id}')
    div(v-for='chunk in group')
      li(v-for='shop in chunk', :key='shop.id', :style="{'background-image': $parent.url(shop.image_url[0])}")
        router-link.box(:to="{name: 'shop.info', params: {id: shop.id}}")
          p.name {{shop.name}}
          p.desc(v-if="desc == 'nearby'") {{shop.distance | distance}}
          p.desc(v-else) {{shop.subway_station}}역

  ul.portfolios.slider(v-if="type == 'portfolio'", v-slider='{current: current, toIndex: toIndex, key: $parent.portfolios.length}', :class='{single: group.length == 1 && (list.length < count / 2)}')
    div.columns(v-for='chunk in group')
      li(v-for='p in chunk', :key='p.id', :style="{'background-image': $parent.url(p.image_url)}")
        router-link(:to="{name: 'popup.portfolio', params: {portfolio_id: p.id}}")

  nav(:class='type')
    button.prev(@click='prev()') 이전
    button(v-for='(chunk, index) in group', :class='{active: current.page == index}', @click='setIndex(index)') {{index + 1}}
    button.next(@click='next()') 다음