// vendor prefixer
vendor(prop, args)
  {prop} args
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args

// background and images
linear-gradient-x(start, end)
  background linear-gradient(to right, start 0%, end 100%)
  background -webkit-linear-gradient(left, start 0%, end 100%)
  background -moz-linear-gradient(left, start 0%, end 100%)
  background -ms-linear-gradient(left, start 0%, end 100%)
  background -o-linear-gradient(left, start 0%, end 100%)
  background -webkit-gradient(linear, left top, right top, color-stop(0%, start), color-stop(100%, end))

linear-gradient-y(start, end)
  background linear-gradient(to bottom, start 0%, end 100%)
  background -webkit-linear-gradient(top, start 0%, end 100%)
  background -moz-linear-gradient(top, start 0%, end 100%)
  background -ms-linear-gradient(top, start 0%, end 100%)
  background -o-linear-gradient(top, start 0%, end 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%, start), color-stop(100%, end))

// align center or middle
position-align-center(method = transform)
  position absolute
  left 50%
  if method is transform
    blank()
    transform translate(-50%, 0)
  else
    margin-left (- @width / 2)

position-align-middle(method = transform)
  position absolute
  top 50%
  if method is transform
    blank()
    transform translate(0, -50%)
  else
    margin-top (- @height / 2)

position-align-both(method = transform)
  position absolute
  top 50%
  left 50%
  if method is transform
    blank()
    transform translate(-50%, -50%)
  else
    margin-top (- @height / 2)
    margin-left (- @width / 2)

// css extentions
border-radius(args...)
  blank()
  if length(args) and args[0] is a 'unit'
    blank()
    vendor(border-radius, args)
  else
    blank()
    vendor(border-radius, border-radius-default)

border-top-radius(r = border-radius-default)
  blank()
  vendor(border-top-left-radius, r)
  vendor(border-top-right-radius, r)

border-bottom-radius(r = border-radius-default)
  blank()
  vendor(border-bottom-left-radius, r)
  vendor(border-bottom-right-radius, r)

box-sizing(value)
  blank()
  vendor(box-sizing, value)

animation(args...)
  blank()
  vendor(animation, args)

animation-delay(args...)
  blank()
  vendor(animation-delay, args)

animation-timing-function(args...)
  blank()
  vendor(animation-timing-function, args)

animation-fill-mode(args...)
  blank()
  vendor(animation-fill-mode, args)

transform(args...)
  blank()
  vendor(transform, args)
  -webkit-filter blur(0)

transform-origin(args...)
  blank()
  vendor(transform-origin, args)

filter(args...)
  blank()
  vendor(filter, args)

appearance(args...)
  blank()
  vendor(appearance, args)

mask(args...)
  blank()
  vendor(mask, args)

mask-size(args...)
  blank()
  vendor(mask-size, args)

display(arg)
  if arg is 'flex'
    vendor(display, arg)
  else
    display arg

user-select(arg)
  -webkit-touch-callout arg
  -webkit-user-select arg
  -khtml-user-select arg
  -moz-user-select arg
  -ms-user-select arg
  user-select arg

// temporary functions
blank()

negative(arg)
  return (- arg)

sum(args...)
  val = 0
  for arg in args
    val += arg
  return val

multiply(args...)
  multi = 1
  for arg in args
    multi *= arg
  return multi

subtract(args...)
  return (args[0] - args[1])

divide(args...)
  return (args[0] / args[1])

// basic mixins
flat()
  margin 0
  padding 0
  border 0
  outline 0
  background transparent
  appearance none
  border-radius 0
/*line-height 1em*/

touch-effect(args...)
  if args[0] is none
    -webkit-tap-highlight-color transparent

center()
  position absolute
  top 50%
  left 50%

flex-center()
  display flex
  align-items center
  justify-content center

ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

line-clamp(line, height = 1em)
  max-height line * height
  line-height height
  overflow hidden
  text-overflow ellipsis
  word-wrap break-word
  display -webkit-box
  -webkit-line-clamp line
  -webkit-box-orient vertical

block-element()
  width 100%
  height 100%
  display inline-block

image-replace()
  text-indent -9999px
  white-space nowrap
  overflow hidden

image-replace-cancel()
  text-indent 0
  white-space normal
  overflow visible

icon()
  font-family 'hbicon'
  font-size 1em
  line-height 1em