html, body, p, div, span, blockquote, pre, iframe,
header, hgroup, nav, aside, section, article, footer, h1, h2, h3, h4, h5, h6,
menu, ul, ol, li, dl, dt, dd, summary, fieldset, legend, form, label,
table, caption, thead, tbody, tfoot, tr, th, td,
audio, video, canvas, details, embed, figure, figcaption,
a, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, b, u, i, time, mark, output, ruby
  margin 0
  padding 0
  border 0
  vertical-align baseline

body
  background #fff
  font-family sans-serif
  line-height 1
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%

h1,h2,h3,h4,h5,h6
  font-size 1em
  margin 0

ul,ol,dd
  &:not(.default)
    padding-left 0
    list-style none
  li
    list-style-position inside

blockquote, q
  quotes none
  &:before, &:after
    content ''

table
  border-collapse collapse
  border-spacing 0
  boder 0

  th
    text-align center
    font-weight inherit
  th, td
    padding 0
  caption
    width 0
    height 0
    line-height 0
    font-size 0
    overflow hidden

audio, video, canvas, progress
  display inline-block
  vertical-align baseline

audio:not([controls])
  display none
  height 0

input, textarea, button, select, optgroup, option
  margin 0
  padding 0
  color inherit
  font-size 1em
  font-weight inherit
  vertical-align baseline

textarea
  overflow scroll

img, fieldset
  border 0

a
  text-decoration none
  background transparent
  &:active, &:hover
    outline 0

[hidden], .hidden
  display none !important