doctype html
html(lang='ko')
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    title HeyBeauty

    link(rel='icon' type='image/png' href='/img/icon.png')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69118881-8', 'auto');
      ga('send', 'pageview');

    style.
      @import url(/css/app.css);

  body
    div.download
      div.wrap
        span.message 구글 플레이와 앱스토어에서 헤이뷰티를 다운받으세요
        a.googleplay(href='http://heybeauty.me/app/?token=117863359&source=landing_shop_detail&medium=android_client&campaign=header') Google Play
        a.appstore(href='http://heybeauty.me/app/?token=117863359&source=landing_shop_detail&medium=ios_client&campaign=header') App Store

    div(id='app'): router-view

    noscript.
      자바스크립트가 비활성화 되어있거나 지원되지 않는 브라우저 입니다.
      자바스크립트 사용이 어려운 경우 모바일 어플리케이션을 통해 이용하실 수 있습니다.

    script(src='/js/app.js')
