doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    link(rel='icon', type='image/png', href='/img/icon.png')
    link(rel='apple-touch-icon-precomposed', href='/img/icon.png')

    title 헤이뷰티 - 내 일정에 꼭 맞는 뷰티 예약 서비스

    meta(name='title', content='헤이뷰티 - 이제 쉽고 빠르게 예약하세요')
    meta(name='description', content='내 일정에 꼭 맞는 뷰티 예약 서비스')
    meta(property='og:title', content='헤이뷰티 - 이제 쉽고 빠르게 예약하세요')
    meta(property='og:description', content='내 일정에 꼭 맞는 뷰티 예약 서비스')
    meta(property='og:image', content='http://heybeauty.me/img/user/cover.jpg')
    meta(property='og:site_name', content='hey beauty')
    meta(property='og:url', content='http://heybeauty.me')
    meta(property='og:type', content='website')
    meta(property='fb:app_id', content='1756233921270925')

    <!--[if lt IE 9]>
    <script>alert('브라우저 업데이트가 필요합니다.'); location.href = 'http://outdatedbrowser.com/kr';</script>
    <![endif]-->

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69118881-8', 'auto');
      ga('send', 'pageview');

    style.
      @import url(/css/user.css);
      @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css) (orientation: landscape);

  body

    h1.black
      img(src='/img/user/common/logo_b.png', alt='hey beauty')
      img(src='/img/user/common/logo_w.png', alt='hey beauty')

    a.shop(href='./shop/')
      | 뷰티살롱
      br
      | 사이트

    include ./user/main.jade
    include ./user/time.jade
    include ./user/reserve.jade
    include ./user/service.jade
    include ./user/location.jade
    include ./user/review.jade
    include ./user/download.jade

    nav.black: ul

    div#init

    script(src='/js/user.js')