html,
body,
header,
section,
p,
h1,
h2,
ul,
li,
a,
button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
    /*    background: #fff;*/
    font-family: sans-serif;
}

html {
    font-size: 16px;
}

p,
h1,
h2,
ul,
li {
    height: auto;
}

p,
h1,
h2,
h3,
ul,
div {
    position: absolute;
}

ul li {
    display: inline;
}

.block {
    color: rgba(0, 0, 0, 0)
}

.itallic {
    font-style: italic;
}

img {
    width: 7em;
}

a {
    color: #fff;
}

h1 {
    font-size: 1.5em;
}

header {
    width: 100%;
    height: 4em;
    z-index: 10;
    position: fixed;
    background-image: url(img/logo_heybeauty.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40%;
}

header.bg {
    background-color: rgba(0,0,0, 0.6);
}

#main {
    color: #fff;
    background: url(img/bg_main.png) no-repeat;
    background-size: cover;
}

#main h1 {
    top: 3.6em;
}

#main ul {
    top: 10em;
}

#main p {
    top: 14em;
    font-size: 0.9em;
    text-decoration: underline;
}

.img_phone {
    position: inherit;
    width: 100%;
    height: 100%;
    background: url(img/img_phones.png) no-repeat;
    background-size: contain;
    background-position: center top;
}

.btn_download_main {
    width: 100%;
    height: 3.2em;
    line-height: 3.2em;
    bottom: 0;
    font-size: 1.2em;
    background: #45E0DD;
}
.btn_scroll_coupon {
    width: 100%;
    height: 3.2em;
    line-height: 3.2em;
    font-size: 1.2em;
    color: #fff;
    background: #AF312A;
    border: 0;
    -webkit-appearance: none;
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}


/*----------Main-END--------*/


.text-wrap {
    position: relative;
    width:80%;
    top: 4.5em;
    left: 2em;
       
}

.text-wrap h2,
.text-wrap p {
    width: auto;
    text-align: left;
    color: #303030;
}

.text-wrap h2 {
    color: #45E0DD;
}

.text-wrap p {
    margin-top: 4em;
    color: rgba(0, 0, 0, 0.7);
}

#introduce-1{
    background: url(img/bg_intro_1.png) no-repeat;
    background-size: cover;
}

/*----------Introduce-END--------*/

.text-field {
    position: relative;
    height: 100px;
}

.text-field h2 {
    top: 1.1em;
    color: #45E0DD;
}

.text-field p {
    top: 3.6em;
    color: rgba(0, 0, 0, 0.7);
}


/*----------Text-fidld-END--------*/

#user-reviews {
    height: 300px;
    background: url(img/bg_review.png) no-repeat;
    background-size: cover;
}

#user-reviews p {
    top: 12%;
    line-height: 1.5em;
    color: #fff;
}


/*---------User-review-END--------*/

#download {
    padding: 1.7em 0;
    height: auto;
}

#download > p {
    margin: 1.4em 0;
    font-size: 0.9em;
    color: #888;
    position: static;
}

#download .coupon {
    text-align: center;
    line-height: 1.8em;
    font-size: 1em;
    position: static;
}
#download .coupon * {
    position: static;
    line-height: 1.8em;
    font-size: 1em;
}
#download .coupon a {
    margin: 1em 0;
    color: #303030;
    display block;
}

#download .coupon img {
    width: 100%;
    max-width: 560px;
}


/*---------Download-END-----------*/

footer {
    position: relative;
    display: block;
    height: 100px;
    background: #213840;
}

footer img {
    width: 1.4em;
}

footer ul {
    top: 1.6em;
}

footer p {
    bottom: 1em;
    color: rgba(255, 255, 255, 0.2);
}