.download
  ul
    font-size 0
    li
      background-size 100%
      display inline-block
      position relative
      &:first-child
        background-image url(/img/user/common/btn_appstore.png)
      &:last-child
        background-image url(/img/user/common/btn_play.png)
      a
        block-element()
        image-replace()

@media (orientation: landscape), (min-width: 800px)
  .demo
    width 264px
    height 525px
    -webkit-transform translate(-50%, -50%)
    center()

    img, svg, span
      width 226px
      height 403px
      center()

    .line
      width 100%
      height 100%
      background-size 100%
      background-repeat no-repeat
      background-position center
      &.grey
        background-image url(/img/user/demo/line_grey.png)
      &.white
        background-image url(/img/user/demo/line_white.png)
      img, svg, span
        transform translate(-50%, -202px)

    .frame
      width 100%
      height 100%
      background url(/img/user/demo/frame.png) no-repeat center
      transition transform .5s ease-out
      position absolute
      top 0
      left 0
      &.ready
        transform translateY(-150%)
        visibility hidden
      img, span
        transform translate(-50%, -204px)

  .copy
    transform translate(landscape-left-translate, -50%)
    center()

    h2
      font-size landscape-heading2-font-size
      line-height landscape-heading2-line-height
      position relative
    p
      margin-top 1.5em
      font-size landscape-body-font-size
      line-height landscape-body-line-height
      position relative

  .download
    width 330px
    text-align center
    transform translate(landscape-right-translate, -50%)
    center()

    ul li
      width 160px
      height 56px
      &:first-child
        float left
      &:last-child
        float right

@media (orientation: portrait) and (max-width: 799px)
  .copy
    position absolute
    left portrait-left-padding
    top portrait-top-position

    h2
      font-size portrait-heading2-font-size
      line-height portrait-heading2-line-height
    p
      margin-top 1.35em
      font-size portrait-body-font-size
      line-height portrait-body-line-height
      text-shadow 0 0 1px rgba(#000, .2)

  .download
    display none