@media (orientation: landscape), (min-width: 800px)
  section#download
    &:after
      content ''
      width 604px
      height 631px
      background url(/img/user/landscape/superimposed.png)
      transform translate(-30px, -47%)
      center()

    .copy
      top 46%
      .portrait
        display none!important

    .links
      transform translate(landscape-left-translate, 275%)
      center()
      a
        margin-right 22px
        width 38px
        height @width
        border-radius 50%
        display inline-block
        image-replace()
        &:first-child
          background url(/img/user/common/icon_facebook.png)
        &:last-child
          background url(/img/user/common/icon_instagram.png)

    .download
      transform translate(landscape-left-translate, 35%)

@media (orientation: portrait) and (max-width: 799px)
  section#download
    background-image url(/img/user/bg/pt_download.jpg)

    .copy .landscape
      display none

    .links
      display none

    .download
      display block
      position absolute
      left portrait-left-padding
      top portrait-top-position + 15%
      h3
        font-size 1.7rem
        padding-bottom 1.15rem
        display inline-block

      ul
        margin-top 2.5rem
        li
          margin-bottom .5rem
          width 10rem
          height 3.5rem
          &:first-child
            margin-right 1rem