html, body
  width 100%
  height 100%
  position relative

body
  font-family 'Spoqa Han Sans', sans-serif
  font-weight lighter
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing grayscale

h1,h2,h3,h4,h5,h6
  font-weight lighter

h1
  img
    width 100%
    height 100%
  &.white img:first-child
    display none
  &.black img:last-child
    display none

a.shop
  border-radius 50%
  color #222
  font-weight bold
  text-align center
  box-sizing border-box
  position absolute

section, #init
  width 100%
  height 100%
  position fixed

section
  background-color #fff
  background-repeat no-repeat
  background-position center
  background-size 100%
  background-size cover
  overflow hidden

nav
  position fixed
  ul
    font-size 0
    li
      border-radius 50%
      box-sizing border-box
      image-replace()
      cursor pointer
      &.active
        cursor default
  &.white ul li
    border 2px solid rgba(#fff, .4)
    &.active
      background #fff
  &.black ul li
    border 2px solid rgba(#000, .4)
    &.active
      background #000

#init
  background #fff


@media (orientation: landscape), (min-width: 800px)
  h1
    width 200px
    height @width * 0.2
    position fixed
    top 60px
    left 70px

  a.shop
    width 100px
    height @width
    line-height 23px
    padding-top ((@height / 2) - @line-height) + 3px
    font-size 18px
    background rgba(245,246,247, .8)
    top 35px
    right 45px
    &:hover
      background rgba(245,246,247, .95)

  section
    transition transform .3s ease

  nav.black ul
    li:not(.active)
      border-color rgba(#000, .2)

@media (orientation: portrait) and (max-width: 799px)
  h1
    width 12rem
    height @width * 0.2
    position fixed
    top 3rem
    left portrait-left-padding

  a.shop
    width 16vw
    height @width
    line-height 4.5vw
    padding-top ((@height / 2) - @line-height) + .65vw
    font-size 1.05rem
    background rgba(245,246,247, .8)
    top 1.5rem
    right 1.6rem

  section
    transition transform .45s ease

  nav.black ul
    li:not(.active)
      border-color rgba(#000, .15)


// touch device
body.horizontal
  section.scrolled
    transform translate(-100%, 0)
  nav
    width 100%
    left 0
    bottom 2.2rem
    text-align center
    ul li
      margin-right 1rem
      width .9rem
      height @width
      border-width 1px
      display inline-block
      &:last-child
        margin-right 0
    &.white ul li
      box-shadow 0 0 1px rgba(#fff, .4)
    &.black ul li
      box-shadow 0 0 1px rgba(#000, .4)

// scroll device
body.vertical
  section.scrolled
    transform translate(0, -100%)
  nav
    top 50%
    right 34px
    transform translateY(-50%)
    ul li
      margin-bottom 10px
      width 12px
      height @width
      display block
      &:last-child
        margin-bottom 0