location-color = #47E1DE

@media (orientation: landscape), (min-width: 800px)
  section#location
    background-image url(/img/user/bg/ls_location.jpg)
    background-repeat repeat
    background-position center
    background-size 2560px 1440px

    .path
      margin 0
      transform translate(-55px, -98px)
      center()

    .map
      .me
        width 50px
        height @width
        transform translate(-71px, 51px)
        center()

        .flicker
          width 100%
          height 100%
          border-radius 50%
          border 2px solid location-color
          background rgba(location-color, .15)
          transition transform .75s ease-in
          box-sizing border-box
          display block
          &.shrink
            transform scale(0)
        .dot
          width 16px
          height @width
          border-radius 50%
          background location-color
          display block
          transform translate(-50%, -50%)
          center()
      .pin
        width 26px
        height 33px
        background url(/img/user/landscape/pin.png)
        transform translate(63px, -126px)
        center()

@media (orientation: portrait) and (max-width: 799px)
  section#location
    background-image url(/img/user/bg/pt_location.jpg)

    .path, .map, .demo
      display none

    .copy h2
      &:after
        margin-left .15em
        content ''
        height .75em
        width @height * 1.2
        background url(/img/user/portrait/icon_map.png) no-repeat
        background-size 100% 100%
        display inline-block