section#main
  color #fff

  .download h3
    border-bottom 1px solid #fff

@media (orientation: landscape), (min-width: 800px)
  section#main
    background-image url(/img/user/bg/ls_main.jpg)

    .img
      width 590px
      height 627px
      background url(/img/user/landscape/grip.png) no-repeat
      background-size 100%
      transform translateX(-417px)
      position absolute
      left 50%
      bottom 0

    h2
      font-size landscape-heading2-font-size
      line-height landscape-heading2-line-height
      transform translate(landscape-left-translate, -66.67%)
      center()

    .download
      transform translate(landscape-right-translate, -35%)

      h3
        padding-bottom 10px
        font-size 23px
        text-shadow 0 0 10px rgba(#000, .85)
        white-space nowrap
        overflow hidden
      ul
        margin-top 40px

@media (orientation: portrait) and (max-width: 799px)
  section#main
    background-image url(/img/user/bg/pt_main.jpg)

    .img
      display none

    h2, .download
      position absolute
      left portrait-left-padding
      top portrait-top-position

    h2
      font-size portrait-heading2-font-size
      line-height portrait-heading2-line-height

    .download
      margin-top 4.25 * portrait-heading2-font-size
      display block
      h3
        font-size 1.7rem
        padding-bottom 1.15rem
        display inline-block

      ul
        margin-top 2.5rem
        li
          margin-bottom .5rem
          width 10rem
          height 3.5rem
          &:first-child
            margin-right 1rem