@media (orientation: landscape), (min-width: 800px)
  section#reserve
    background-image url(/img/user/bg/ls_reserve.jpg)

    .demo
      .blur
        overflow hidden
        .source
          width 300px
          height 503px
          transform translate(-50%, -252px)
          background-image url(/img/user/bg/ls_reserve.jpg)
          background-position center
          overflow hidden
          filter blur(20px)
      .img
        background-color #8B6455
        background-color rgba(#222, .3)

      .frame
        .container
          overflow hidden
        img
          transition transform .25s ease
          transform none
          top 0
          left 0

@media (orientation: portrait) and (max-width: 799px)
  section#reserve
    background-image url(/img/user/bg/pt_reserve.jpg)

    .demo
      display none