@media (orientation: landscape), (min-width: 800px)
  section#review
    background-image url(/img/user/bg/ls_review.jpg)

    .copy
      transform translate(landscape-left-translate, -80%)

    .reviews
      width 892px
      height 580px
      transform translate(-280px, -270px)
      center()
      .box
        padding 110px 60px 80px
        width 420px
        height 580px
        background url(/img/user/landscape/quotes.png)
        box-sizing border-box
        position absolute
        top 0
        &:nth-child(odd)
          left 0
        &:nth-child(even)
          right 0
        .body
          width 100%
          height 360px
          font-size 15px
          line-height 1.8em
          white-space pre-line
          color #333
        .user
          height 1em
          line-height 1em
          font-size 13px
          color #777
          ellipsis()
          position absolute
          bottom 80px
          left 60px
          &:before
            content '— @'


@media (orientation: portrait) and (max-width: 799px)
  section#review
    background-image url(/img/user/bg/pt_review.jpg)

    .copy
      top 20%
      p
        display none

    .reviews
      .box
        padding 1.4rem 1.5rem
        width 90%
        height 62%
        background rgba(#fff, .7)
        box-sizing border-box
        position absolute
        left 5%
        top 30%
        .body
          max-height 88%
          line-height 1.6em
          font-size 13px
          font-size calc(7px + 2vw)
          white-space pre-line
          overflow hidden
          color #333
        .user
          padding-right 1.3em
          width 100%
          height 1em
          line-height 1em
          font-size 12px
          font-size calc(6px + 2vw)
          text-align right
          color #777
          ellipsis()
          position absolute
          bottom 1.5em
          right 0
          &:before
            content '— @'