@media (orientation: landscape), (min-width: 800px)
  section#service
    .demo
      svg
        background #F9FAFB
        text
          font-family 'Spoqa Han Sans', sans-serif
          font-weight normal
          font-size 19px

@media (orientation: portrait) and (max-width: 799px)
  section#service
    background-image url(/img/user/bg/pt_service.jpg)

    .demo
      display none

    .copy h2
      &:after
        content ''
        height .75em
        width @height * 1.2
        background url(/img/user/portrait/icon_book.png) no-repeat
        background-size 100% 100%
        display inline-block
        position absolute
        top 1.57em
        left 2.9em