location-color = #47E1DE

@media (orientation: landscape), (min-width: 800px)
  section#time
    .map
      width 366px
      height 531px
      position relative
      background url(/img/user/landscape/map.png) no-repeat
      transform translate(-50%, -50%)
      center()
      .location
        .flicker
          margin-top -17px
          margin-left @margin-top
          width 50px
          height @width
          border-radius 50%
          border 2px solid location-color
          background rgba(location-color, .15)
          transition transform .75s ease-in
          box-sizing border-box
          display block
          center()
          &.shrink
            transform scale(0)
        .dot
          width 16px
          height @width
          border-radius 50%
          background location-color
          display block
          center()
      .pins span
        width 62px
        height 37px
        background url(/img/user/landscape/time_bubble.png) no-repeat
        background-size 100% 100%
        transition width .3s ease-in
        transform translateX(-50%)
        display block
        position absolute
        &.shrink
          width 0
        &:nth-child(1)
          top 173px
          left 127px
        &:nth-child(2)
          top 380px
          left 241px
        &:nth-child(3)
          top 307px
          left 93px
        &:nth-child(4)
          top 330px
          left 298px

@media (orientation: portrait) and (max-width: 799px)
  section#time
    background-image url(/img/user/bg/pt_time.jpg)

    .map, .demo
      display none