@require 'requires'

html
  font-size 10px

body
  min-height 100vh
  background #fff
  color text-dark-grey
  font-size 1.3rem
  position relative

.download
  display none

section
  padding 1.6rem 1rem 2rem

footer
  width 100%
  height 3.8rem
  line-height @height
  background #f7f7f7
  color #999
  font-family Helvetica
  font-size 1.1rem
  text-indent 1rem
  .links
    float right
    text-indent 0
  .bar
    display none
  a
    margin-right 1rem
    width 2.4rem
    height 2.4rem
    font-size 0
    display inline-block
    vertical-align middle
    &.facebook
      background url(/img/app/ic-facebook.svg)
    &.home
      background url(/img/app/ic-home.svg)

#banner
  width 100%
  height 0
  padding-bottom 18.75%
  background #fff
  z-index 20
  position fixed
  bottom 0
  left 0
  img
    width 100%
  & + footer
    margin-bottom @padding-bottom

.error
  block-element()
  text-align center
  z-index 1000
  position fixed
  top 0
  left 0
  &.e404
    background #fbfbfb
    &::before
      content ''
      margin 40vh auto 5vh
      width 10vh
      height @width
      background url(/img/app/symbol.svg) no-repeat
      background-size 100%
      display block
    &::after
      content '페이지를 찾을 수 없습니다.'
      font-size 1.5rem
      color text-grey
  &.e500
    background #f8f8f8
    &::before
      content ''
      margin 40vh auto 5vh
      width 10vh
      height @width
      background url(/img/app/symbol.svg) no-repeat
      background-size 100%
      display block
    &::after
      content '서버가 응답하지 않습니다.'
      font-size 1.5rem
      color text-grey