@require 'requires'

section#popup
  padding 0
  block-element()
  z-index 100
  position fixed
  left 0
  top 0

  &.portfolio
    background #fff
    display flex
    flex-flow column wrap
    .header
      width 100%
      height 6rem
      a
        block-element()
        padding 1.4rem 5.2rem 0 1rem
        box-sizing border-box
        color text-black
      .title
        font-weight bold
        font-size 1.4rem
        line-height 2.2rem
        ellipsis()
      .info
        color text-light-grey
        font-size 1.1rem
        ellipsis()

    .image
      width 100%
      background-color #000
      background-repeat no-repeat
      background-position center
      background-size contain
      flex 1 0 auto

    .list
      padding 2rem 1rem
      width 100%
      height 16.5rem
      box-sizing border-box
      h4
        padding 0
        font-size 1.2rem
        font-weight bold
        color text-black
      ul
        margin-top 1rem
        font-size 0
        line-height 1
        white-space nowrap
        overflow scroll
        overflow-y hidden
        -webkit-overflow-scrolling touch
        li
          margin-right .8rem
          width 12.3rem
          height 10rem
          display inline-block
          &:last-child
            margin-right 0
          a
            block-element()
            background-repeat no-repeat
            background-position center
            background-size cover
            box-sizing border-box
            opacity .5
          &.router-link-active a
            border .3rem solid hb-cyan
            opacity 1

    .service
      width 100%
      height 9.3rem
      border-top 1px solid single-line
      a
        block-element()
        padding 1.6rem
        color text-dark-grey
        box-sizing border-box
      h4
        padding 0
        width 5.4rem
        height 1.8rem
        line-height @height
        background text-black
        color #fff
        font-size 1rem
        text-align center
      .name
        margin-top .3rem
        font-size 1.5rem
        line-height 2.5rem
        font-weight bold
        display block
      .duration
        color text-grey
        font-size 1.2rem
        display block
      .original_price
        font-size 1.2rem
        color text-light-grey
        text-decoration line-through
        position absolute
        bottom 4rem
        right 1.6rem
      .price
        font-size 1.6rem
        position absolute
        bottom 2rem
        right 1.6rem
      .empty
        padding 0
        width 100%
        height @height
        line-height @height
        font-size 1.2rem
        color text-light-grey
        text-align center
        display block

  &.service
    background rgba(#000, .4)
    .wrap
      padding 2rem 1.6rem
      width 100%
      height auto
      background #fff
      box-sizing border-box
      position-align-both()

    h3
      font-size 1.6rem
      line-height 3rem
      color text-black

    dl
      margin 1rem 0
      font-size 0
      color text-black
      dt, dd
        font-size 1.2rem
        line-height 2rem
        display inline-block
        vertical-align top
      dt
        width 25%
        font-weight bold
      dd
        width 75%
      .sale
        color hb-magenta
        font-weight bold
        &::after
          content 'sale'
          margin-left .4rem
          width 2.8rem
          height 1.3rem
          line-height @height
          background hb-magenta
          color #fff
          font-family Helvetica
          font-weight bold
          font-size .8rem
          text-align center
          letter-spacing -.04rem
          text-transform uppercase
          vertical-align middle
          display inline-block

    hr
      margin 1.6rem 0
      width 100%
      height 0
      border-top 1px solid box-border

    ul.slider + nav
      margin-bottom .5rem
      button.active
        background hb-cyan !important

  button.close
    flat()
    width 4.4rem
    height @width
    font-size 0
    position absolute
    right .6rem
    top .8rem
    &::before, &::after
      content ''
      width .1rem
      height 1.8rem
      background #242d2d
      position-align-both()
    &::before
      transform translate(-50%, -50%) rotate(-45deg)
    &::after
      transform translate(-50%, -50%) rotate(45deg)