@require 'requires'

header-min-height = 4.4rem

.scrolled
  margin-top 4.6rem
  padding-top 50%

  header, header + nav
    transition transform .55s ease

  header
    width 100%
    z-index 10
    transform translateY(header-min-height)
    position fixed
    top -50vw

    & + nav
      width 100%
      background #fff
      transform translateY(header-min-height)
      position fixed
      top 0
      z-index 10