@require 'requires'

ul.slider
  padding-bottom 39.67%
  overflow hidden
  line-height 0
  font-size 0
  position relative
  &.portfolios:not(.single)
    padding-bottom 81.3%
  div
    block-element()
    display flex
    justify-content space-between
    transition-property transform
    transition-duration 0s
    transition-timing-function cubic-bezier(.29,.18,.53,.78)
    position absolute
    left 0
    top 0
  li
    min-width 49%
    max-width 49%
    height 100%
    background-size cover
    background-position center
    display inline-block
    position relative
    .box
      block-element()
      padding 1.5rem 1.2rem
      background rgba(#181917, .7)
      color #fff
      font-size 1.5rem
      line-height 1em
      box-sizing border-box
      position absolute
      left 0
      top 0

  & + nav
    margin 1.5rem 0 2rem
    font-size 0
    text-align center
    button
      flat()
      margin 0 .4rem
      width .6rem
      height .6rem
      border-radius 50%
      border 2px solid single-line
      box-sizing border-box
      vertical-align middle
      display inline-block
      &.active
        border 0
        background hb-cyan

      &.prev, &.next
        display none

    &.portfolio
      button.active
        background hb-magenta